.nav-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.6em;
  background-color: var(--background);
  z-index: 99;
}
.nav-inner-wrap {
  padding: 0 var(--padding);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid var(--line);
}
.nav-app-name {
  text-decoration: none;
  padding: 0 0.4em;
  transform: translateX(-0.4em);
}
.nav-button {
  margin-left: 0.8em;
  padding: 0 0.4em;
  transform: translateX(0.4em);
  cursor: pointer;
}
.nav-button:hover {
  color: var(--heading);
}


/* SHARE WRAP */
.nav-share-outer-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}
.nav-share-wrap-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--heading);
  opacity: 0;
}
.nav-share-content-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 19em;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  max-width: 85%;
  padding: 2em 2.8em;
  background-color: var(--background);
  border-radius: 1em;
  opacity: 0;
}
.nav-share-head {
  font-size: 1.8em;
  margin-bottom: 0.6em;
  text-align: center;
  padding-bottom: 0.4em;
  border-bottom: solid 0.5px var(--line);
}
.nav-share-wrap {
  margin-bottom: 0.4em;
  text-align: center;
  display: flex;
  align-items: center;
}
.nav-share-button {
  display: block;
  position: relative;
  width: 2em;
  height: 2em;
  margin-right: 1.6em;
  padding: 0;
  border-radius: 0.4em;
  cursor: pointer;
  transition: 120ms;
}
.nav-share-button:hover,
.nav-share-button:focus {
  transform: scale(1.1);
  box-shadow: 0 0 0 4px var(--line);
}
.nav-share-button:active {
  transform: scale(1);
}
.nav-share-button:last-child {
  margin-right: 0;
}
.nav-share-wrap svg {
  width: 2em;
  height: 2em;
}
.nav-share-wrap .to-fill {
  fill: var(--heading);
}
.copy-message.hidden {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(100% + 1.2em));
  background-color: var(--background);
  border: solid 1px var(--line-light);
  padding: 0.2em 0.4em;
  border-radius: 0.6em;
}
.nav-share-close-wrap {
  position: absolute;
  top: 0.8em;
  right: 0.8em;
  width: 1.4em;
  height: 1.4em;
  cursor: pointer;
  opacity: 0.32;
  transition: 160ms;
}
.nav-share-close-wrap:hover,
.nav-share-close-wrap:focus {
  opacity: 1;
}
.nav-share-close-wrap:focus {
  opacity: 1;
  box-shadow: 0 0 0 3px var(--line);
}
.nav-share-close-line {
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--body);
  top: 50%;
  transition: 160ms;
}
.nav-share-close-wrap:hover>.nav-share-close-line {
  background-color: var(--heading);
}
.nav-share-close-line.first {
  transform: rotate(45deg);
}
.nav-share-close-line.second {
  transform: rotate(-45deg);
}

@media only screen and (max-aspect-ratio: 1/1) {
  .nav-inner-wrap {
    border-bottom: solid 1px var(--line);
  }
  .nav-inner-wrap {
    width: 100%;
    margin: 0;
    padding: 0 var(--padding);
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 768px) {
  .nav-share-content-wrap {
    min-width: 18em;
  }
  .nav-share-head {
    font-size: 1.6em;
  }
  .nav-share-button {
    width: 1.2em;
    height: 1.2em;
    margin-right: 1.4em;
  }
}

@supports(padding: max(0px)) {
  .nav-inner-wrap {
    padding-left: max(var(--padding), env(safe-area-inset-left));
    padding-right: max(var(--padding), env(safe-area-inset-right));
  }
}
