.title-wrap {
  position: relative;
  min-height: calc(50vh - 2.6em - var(--padding));
}
.title-bar {
  width: 100%;
  height: 0.6em;
  background-color: var(--heading);
  margin-bottom: 1.2em;
  transform-origin: left;
  transform: scaleX(0);
}

/* HEAD */
.title-head {
  word-wrap: break-word;
  line-height: 0.95;
}
.title-head-word-wrap {
  display: inline-block;
  white-space: pre;
  overflow: hidden;
}
.title-head-word {
  display: inline-block;
  transform: translateY(1.2em);
}

/* DES */
.title-des {
  max-width: 20em;
  margin-bottom: 1em;
  opacity: 0;
}


/* SHARE */
.share-wrap {
  display: flex;
  align-items: center;
  opacity: 0;
}
.share-button {
  position: relative;
  width: 1.6em;
  height: 1.6em;
  margin-right: 1.6em;
  padding: 0;
  cursor: pointer;
  transition: 120ms;
}
.share-button:hover {
  transform: scale(1.1);
}
.share-button:active {
  transform: scale(1);
}
.share-button:last-child {
  margin-right: 0;
}
.share-wrap svg {
  width: 1.6em;
  height: 1.6em;
}
.share-wrap .to-fill {
  fill: var(--heading);
}
.copy-message {
  font-size: 0.72em;
  color: var(--label);
  opacity: 0;
  width: 8em;
  transition: 120ms;
}

@media only screen and (max-aspect-ratio: 1/1) {
  .title-wrap {
    min-height: 0;
  }
  .title-bar {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .title-des {
    margin-bottom: 0.8em;
  }
  .share-button {
    width: 1.2em;
    height: 1.2em;
    margin-right: 1.2em;
  }
}

@media only screen and (max-width: 480px) {
  .title-des {
    margin-bottom: 0.6em;
  }
  .share-button {
    width: 1em;
    height: 1em;
    margin-right: 1em;
  }
}
